.card-button:hover .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.02); 
    transition: all 0.3s ease; 
}

.card-button:hover .card-img-top {
    filter: brightness(1.1); 
}

/* Media queries for responsive design */
@media (max-width: 576px) {
    .responsive-height {
        height: 500px;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .responsive-height {
        height: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .responsive-height {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .responsive-height {
        height: 330px;
    }
}